<h2>Assignments List</h2>
<p-table [value]="assignments"
        styleClass="p-datatable-gridlines" 
        responsiveLayout="scroll"
        [(selection)]="selectedAssignments"
        dataKey="id"
        selectionMode="multiple">
    <ng-template pTemplate="caption">
        <p-checkbox [(ngModel)]="showArchive" [binary]="true" (onChange)="showArchiveChanged()" pTooltip="Show Archive" label="With Archive (Total={{countAssignments}})"></p-checkbox>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Repeated</th>
            <th>Ended</th>
            <th>Archive</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-assignment let-rowIndex>
        <tr>
            <td><p-tableCheckbox [value]="assignment" [pSelectableRow]="assignments" [pSelectableRowIndex]="rowIndex"></p-tableCheckbox></td>
            <td>{{assignment.id}}</td>
            <td>{{assignment.assignmentType.name}}</td>
            <td>{{assignment.name}}</td>
            <td>{{assignment.description}}</td>
            <td>{{assignment.startDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{assignment.endDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{assignment.repeated}}</td>
            <td><p-checkbox [value]="assignment" [(ngModel)]="assignment.ended" [binary]="true"></p-checkbox></td>
            <td>{{assignment.archive}}</td>
            <td>
                <span class="p-buttonset">
                    <button pButton pRipple label="Save" icon="pi pi-check" (click)="saveClicked(assignment)"></button>
                    <button pButton pRipple label="Delete"class="p-button-danger" icon="pi pi-trash" (click)="deleteClicked(assignment)"></button>
                    <button pButton pRipple label="Archive" class="p-button-secondary" icon="pi pi-upload" (click)="archiveClicked(assignment)"></button>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <span class="p-buttonset">
            <button pButton pRipple label="Save Selected" icon="pi pi-check" (click)="saveSelectedClicked()"></button>
            <button pButton pRipple label="Delete Selected" class="p-button-danger" icon="pi pi-trash" (click)="deleteSelectedClicked()"></button>
            <button pButton pRipple label="Archive Selected"  class="p-button-secondary" icon="pi pi-upload" (click)="archiveSelectedClicked()"></button>
        </span>
    </ng-template>
</p-table>