<h2>New Type</h2>
<form [formGroup]="newTypeForm" (ngSubmit)="newTypeSubmit()">
    <div class="p-fluid grid">
        <div>
            <label for="name">Name</label>
            <input id="name" maxlength="50" type="text" class="form-control" pInputText formControlName="name">
            <small id="nameRequired-error" class="p-error" *ngIf="name && (name.touched || name.dirty) && name?.errors?.['required']">Name required</small>
        </div>
    </div>
    <button pButton pRipple type="submit" label="Submit"></button>
</form>